@import "../var/colors";

.conocenos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .col50{
        width: 48%;
        .col50__titulo{
            color: $color-black;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            .col50__capit {
                color: #844e8d;
                font-size: 1.5em;
                font-weight: 700;
              }
              &::after {
                content: "";
                display: block;
                height: 4px;
                width: 40px;
                background-color: $color-secondary;
              }
        }
        .col50__texto{
            font-family: "Poppins", sans-serif;
            color: $color-gray;
            font-size: 1em;
            font-weight: 400;
            text-align: justify;
        }
        .col50__cont{
            position: relative;
            width: 100%;
            height: 100%;
            .col50__img{
                position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            }
        }

    }
}