@import "./colors";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color:$color-black;
    overflow-x: hidden;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
    color: $color-black;
  }
  .section {
    position: relative;
  }


